.loadingContainer{
  width: 100%;
  height: 100vh;
  z-index: 1000;
  position: relative;
}
.loadingImage{
  width: 300px;
  margin: -30px auto 0px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loadingText{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.characterContainer{
  background-image: url('../../public/background/scroll-bg.webp');
  background-position: bottom;
  background-size: cover;
  padding: 8vh 0px 16vh;
  height: 100vh;
}