.navbarContainer{
  z-index: 10 !important;
  width: 100vw;
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.671);
  position: sticky;
  top: 0;
}
.navLinksContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.navLinkContainer a{
  padding: 10px 20px;
  transition: 0.3s all ease-in-out;
}
.navLinkContainer a:hover{
  color: rgba(88, 207, 88, 0.829);
}
.active{
  text-shadow: 2px 3px 4px rgba(174, 238, 102, 0.829);
}