.hoyoverse{
  width: 120px;
}
.footercontainer{
  padding: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: sans-serif !important;
  z-index: 100;
}
.microsoftIcon{
  margin: 30px 0px 30px 30px;
  width: 100px;
}
.appleIcon{
  width: 80px;
}
.androidIcon{
  width: 80px;
}
.playstationIcon{
  width: 50px;
}