.hoyoverse{
  width: 120px;
}
.footercontainer{
  padding: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: sans-serif !important;
  z-index: 100;
}
.microsoftIcon{
  margin: 30px 0px 30px 30px;
  width: 80px;
}
.appleIcon{
  width: 60px;
}
.androidIcon{
  width: 60px;
}
.playstationIcon{
  width: 40px;
}
.showText{
  display: none;
}
@media screen and (max-width: 820px) {
  .microsoftIcon, .appleIcon, .androidIcon, .playstationIcon{
    display: none;
  }
  .footerText{
    font-size: 0.8rem !important;
  }
  .footerSmallText{
    position: absolute;
    font-size: 0.6rem !important;
    bottom: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .hoyoverse{
    width: 60px;
  }
  .creditsText,.footerLink{
    font-size: 0.6rem;
    margin-left: -10px;
    margin-top: -20px;
  }
  .footerLink{
    display: block;
    padding-bottom: 30px;
    margin-top: 0px;
  }
  .rpgContainer{
    display: none !important;
  }
  .showText{
    display: block !important;
  }
}